.bookmark-form {
    margin: 3em;
    padding: 2em;
    background-color: rgb(65, 65, 65);
    color: black;
  }
  
  .TOC {
    margin: 3em;
    padding: 2em;
    background-color: rgb(65, 65, 65);
    color: black;
  }
  
  .bookmarksList {
    margin: 3em;
    padding: 2em;
    background-color: rgb(65, 65, 65);
    color: black;
  }

  .bookmarksBackground {
      background-color: black;
  }